/* colors */
:root{
    --color-principal: #221A10;
    --color-secundario: #fac400;
    --color-textos: white;
}

:root {
  font-size : 100%;
  font-family : system-ui, sans-serif;
  scroll-behavior : smooth;
}
* , *::before , *::after {
  margin : 0;
  padding : 0;
  border : 0;
  box-sizing : border-box;
  vertical-align : baseline;
}
*::before , *::after {
  display : block;
}
img , picture , video , iframe , figure , canvas {
  max-width : 100%;
  display : block;
  width : 100%;
  height : initial;
  object-fit : cover;
  object-position : center center;
}
a {
  display : block;
  text-decoration : none;
  color : inherit;
  font :  inherit;
}
p a {
  display : inline;
}
li , menu, summary {
  list-style-type : none;
}
ol {
  counter-reset : revert;
}
h1 , h2 , h3 , h4 , h5 , h6 , p , span , a , strong , blockquote , i , b , u , em , pre , code , mark , del {
  font :  inherit;
  line-height :  1em;
  text-decoration :  none;
  color : inherit;
  overflow-wrap : break-word;
  text-wrap : pretty;
}
mark {
  background-color : transparent;
}
blockquote::before , blockquote::after , q::before , q::after {
  content : none;
}
form , input , textarea , select , button , label {
  font :  inherit;
  hyphens : auto;
  background-color : transparent;
  color : inherit;
  display : block;
  appearance : none;
}
fieldset {
  border : none;
}
::placeholder {
  color : unset;
}
button , label {
  cursor : pointer;
}
table , tr , td , th , tbody , thead , tfoot {
  border-collapse : collapse;
  border-spacing : 0;
  font : inherit;
}
svg {
  width : 100%;
  height : initial;
  display : block;
  fill : currentColor;
}
body {
  min-height : 100vh;
  line-height : 1.5em;
  color : inherit;
  hyphens : auto;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing : grayscale;
}

/* utilities */
.u-width100{
    width: 100%;
}
.u-flexRow{
    display: flex;
    flex-flow: row nowrap;
}
.u-flexCol{
    display: flex;
    flex-flow: column nowrap;
}
.u-bold{
    font-weight: bold;
}
.u-backSize100{
  background-size: 100% 100%;
}

/* General */
body{
  background-color: var(--color-principal);

  position: relative;
}

/* Nav */
.header-nav{
    min-height: 6.25rem;
    /* background-color: orange; */

    padding: 1.25rem;

    justify-content: space-between;
    align-items: center;
}
.Nav-logo{
    justify-content: center;
    align-items: center;
    gap: .625rem;
}
.Logo-img{
    width: 6.25rem;
    height: 6.25rem;
    background-color: blue;
}
.Logo-h1{
    font-size: 2em;
    color: var(--color-secundario);
}
.Nav-ul{
    justify-content: center;
    align-items: center;
    gap: .625rem;
}
.Nav-li{
  color: rgb(248, 231, 231);
}
.Nav-li:hover{
  color: var(--color-secundario);
}
.Nav-li--gold{
  color: var(--color-secundario);
}
.Nav-button{
    display: none;
}
.Nav-button svg{
  fill: var(--color-textos);
}

/* Main */
main{
  min-height: 100vh;
  background-color: orange;

  padding: 1.25rem;

  justify-content: start;
  align-items: center;
  gap: 2.5rem;
}
.main-h2{
  font-size: 4em;
}
.main-choices{
  width: 18.75rem;
  background-color: red;

  padding: 6px;

  border-radius: 1.875rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .625rem;
}
.main-choice{
  /* background-color: lightblue; */

  padding: .625rem;

  border-radius: 1.25rem;

  text-align: center;

  cursor: pointer;
}
.main-paremias{
  width: 90%;
  min-height: 100vh;
  background-color: lightblue;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .625rem;
}
.Paremias-paremia{
  width: 100%;
  min-height: 18.75rem;
  background-color: blue;

  padding: .625rem;

  border-radius: .625rem;

  justify-content: start;
  align-items: center;
  gap: 0.625rem;

  cursor: pointer;
}
.Paremias-h3{
  font-size: 2em;
  text-align: center;
}

.isSelected{
  background-color: var(--color-secundario);
  color: var(--color-textos);
}


/* @medias */
@media(max-width:1000px){
    .Nav-ul{
        display: none;
    }
    .Nav-button{
        display: flex;
    }
    .main-paremias{
      grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:600px){
    .main-paremias{
      grid-template-columns: repeat(1, 1fr);
    }
}

/* JS classes */
.isOpen{
  width: 20%;
  background-color: var(--color-textos);

  padding: .625rem;

  display: grid;
  grid-template-columns: repeat(1, 1fr);

  text-align: center;
  color: black;

  position: absolute;
  top: 6.25rem;
  right: .3125rem;
  z-index: 1;
}
.Nav-ul.isOpen .Nav-li{
  color: black;
}
.Nav-ul.isOpen .Nav-li:hover{
  color: var(--color-secundario);
}

.isHidden{
  display: none;
}
.isFlex{
  display: flex;
}