/* colors */
:root{
    --color-principal: #221A10;
    --color-secundario: #fac400;
    --color-textos: white;
}

:root {
  font-size : 100%;
  font-family : system-ui, sans-serif;
  scroll-behavior : smooth;
}
* , *::before , *::after {
  margin : 0;
  padding : 0;
  border : 0;
  box-sizing : border-box;
  vertical-align : baseline;
}
*::before , *::after {
  display : block;
}
img , picture , video , iframe , figure , canvas {
  max-width : 100%;
  display : block;
  width : 100%;
  height : initial;
  object-fit : cover;
  object-position : center center;
}
a {
  display : block;
  text-decoration : none;
  color : inherit;
  font :  inherit;
}
p a {
  display : inline;
}
li , menu, summary {
  list-style-type : none;
}
ol {
  counter-reset : revert;
}
h1 , h2 , h3 , h4 , h5 , h6 , p , span , a , strong , blockquote , i , b , u , em , pre , code , mark , del {
  font :  inherit;
  line-height :  1em;
  text-decoration :  none;
  color : inherit;
  overflow-wrap : break-word;
  text-wrap : pretty;
}
mark {
  background-color : transparent;
}
blockquote::before , blockquote::after , q::before , q::after {
  content : none;
}
form , input , textarea , select , button , label {
  font :  inherit;
  hyphens : auto;
  background-color : transparent;
  color : inherit;
  display : block;
  appearance : none;
}
fieldset {
  border : none;
}
::placeholder {
  color : unset;
}
button , label {
  cursor : pointer;
}
table , tr , td , th , tbody , thead , tfoot {
  border-collapse : collapse;
  border-spacing : 0;
  font : inherit;
}
svg {
  width : 100%;
  height : initial;
  display : block;
  fill : currentColor;
}
body {
  min-height : 100vh;
  line-height : 1.5em;
  color : inherit;
  hyphens : auto;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing : grayscale;
}

/* utilities */
.u-width100{
    width: 100%;
}
.u-flexRow{
    display: flex;
    flex-flow: row nowrap;
}
.u-flexCol{
    display: flex;
    flex-flow: column nowrap;
}
.u-bold{
    font-weight: bold;
}
.u-backSize100{
  background-size: 100% 100%;
}

/* General */
body{
  background-color: var(--color-principal);

  position: relative;
}

/* Nav */
.header-nav{
    min-height: 6.25rem;
    /* background-color: orange; */

    padding: 1.25rem;

    justify-content: space-between;
    align-items: center;
}
.Nav-logo{
    justify-content: center;
    align-items: center;
    gap: .625rem;
}
.Logo-img{
    width: 6.25rem;
    height: 6.25rem;
    background-color: blue;
}
.Logo-h1{
    font-size: 2em;
    color: var(--color-secundario);
}
.Nav-ul{
    justify-content: center;
    align-items: center;
    gap: .625rem;
}
.Nav-li{
  color: rgb(248, 231, 231);
}
.Nav-li:hover{
  color: var(--color-secundario);
}
.Nav-li--gold{
  color: var(--color-secundario);
}
.Nav-button{
    display: none;
}
.Nav-button svg{
  fill: var(--color-textos);
}

/* Main */
main{
    min-height: 100vh;

    padding: 1.25rem;

    justify-content: start;
    align-items: center;
    gap: 3.125rem;
}
.main-article{
    width: 50%;

    text-align: center;

    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}
.main-h2{
    font-size: 3em;

    color: var(--color-textos);
}
.main-p{
    font-size: 1.1em;
    color: var(--color-textos);
}
.main-gallery{
    /* height: auto; */

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .625rem;

    aspect-ratio: 1 / 1;
}
.Gallery-article{
    width: 100%;
    /* min-height: 18.75rem; */

    border-radius: 1.25rem;

    justify-content: center;
    align-items: center;

    text-align: center;

    position: relative;

    cursor: pointer;

    aspect-ratio: 1 / 1;
}
.Gallery-article:hover{
  transform: scale(1.05);
}
.Gallery-h3{
  font-size: 2em;

  color: var(--color-textos);
  text-shadow: .125rem .125rem .25rem rgba(0, 0, 0, 0.7);
}
.Gallery-info{
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  padding: .625rem;

  border-radius: 1.25rem;

  display: none;
  flex-flow: column nowrap;
  justify-content: end;
  align-items: center;

  color: white;
  text-align: center;

  position: absolute;
  top: 0;
  left: 0;
}
.Gallery-article:hover .Gallery-h3{
  display: none;
}
.Gallery-article:hover .Gallery-info{
  display: flex;
}

/* Back Images */
.Gallery-article--cosaquez{
  background-image: url("../assets/images/trabalenguas/la_cosaquez.webp");
}
.Gallery-article--corsarioRudo{
  background-image: url("../assets/images/trabalenguas/corsasrio_rudo.webp");
}
.Gallery-article--puebloPlaza{
  background-image: url("../assets/images/trabalenguas/pueblo_plaza.webp");
}
.Gallery-article--gallinaPinta{
  background-image: url("../assets/images/trabalenguas/gallina_pinta.webp");
}
.Gallery-article--menudaMandarina{
  background-image: url("../assets/images/trabalenguas/menuda_mandarina.webp");
}
.Gallery-article--espesuraEsmeralda{
  background-image: url("../assets/images/trabalenguas/espesura_esmeralda.webp");
}
.Gallery-article--brilloBrumoso{
  background-image: url("../assets/images/trabalenguas/brillo_brumoso.webp");
}
.Gallery-article--enUnTrigal{
  background-image: url("../assets/images/trabalenguas/en_un_trigal.webp");
}
.Gallery-article--llanoLluvia{
  background-image: url("../assets/images/trabalenguas/llano_lluvia.webp");
}
.Gallery-article--gabrielGrito{
  background-image: url("../assets/images/trabalenguas/gabriel_grito.webp");
}
.Gallery-article--globoGrande{
  background-image: url("../assets/images/trabalenguas/globo_grande.webp");
}
.Gallery-article--pradoBravo{
  background-image: url("../assets/images/trabalenguas/prado_bravo.webp");
}
.Gallery-article--ricardoRueda{
  background-image: url("../assets/images/trabalenguas/ricardo_rueda.webp");
}
.Gallery-article--anitaTina{
  background-image: url("../assets/images/trabalenguas/anita_tina.webp");
}
.Gallery-article--aveRapida{
  background-image: url("../assets/images/trabalenguas/ave_rapida.webp");
}
.Gallery-article--frenteEnfrente{
  background-image: url("../assets/images/trabalenguas/frente_enfrente.webp");
}
.Gallery-article--capaParda{
  background-image: url("../assets/images/trabalenguas/capa_parda.webp");
}
.Gallery-article--esperanzador{
  background-image: url("../assets/images/trabalenguas/esperanzador.webp");
}
.Gallery-article--catalinaEncantadora{
  background-image: url("../assets/images/trabalenguas/catalina.webp");
}
.Gallery-article--quiqueCaco{
  background-image: url("../assets/images/trabalenguas/quique_caco.webp");
}
.Gallery-article--antonComilon{
  background-image: url("../assets/images/trabalenguas/anton_comilon.webp");
}
.Gallery-article--troncos{
  background-image: url("../assets/images/trabalenguas/troncos.webp");
}
.Gallery-article--siniestroDiestra{
  background-image: url("../assets/images/trabalenguas/siniestro_diestra.webp");
}
.Gallery-article--madre{
  background-image: url("../assets/images/trabalenguas/madre_godable.webp");
}
.Gallery-article--gustoGustara{
  background-image: url("../assets/images/trabalenguas/gusto_gustara.webp");
}
.Gallery-article--erre{
  background-image: url("../assets/images/trabalenguas/erre_con_erre.webp");
}
.Gallery-article--granRina{
  background-image: url("../assets/images/trabalenguas/gran_rina.webp");
}
.Gallery-article--loloLelo{
  background-image: url("../assets/images/trabalenguas/lolo_lelo.webp");
}
.Gallery-article--ttrabalenguasJ{
  background-image: url("../assets/images/trabalenguas/trabalenguas_jota.webp");
}
.Gallery-article--pablitoClavito{
  background-image: url("../assets/images/trabalenguas/pablito_clavito.webp");
}
.Gallery-article--ciudadPamplona{
  background-image: url("../assets/images/trabalenguas/ciudad_pamplona.webp");
}
.Gallery-article--eugenioIngenuo{
  background-image: url("../assets/images/trabalenguas/eugenio_ingenuo.webp");
}
.Gallery-article--suecosSuecia{
  background-image: url("../assets/images/trabalenguas/suecos_suecia.webp");
}
.Gallery-article--mariaChuchena{
  background-image: url("../assets/images/trabalenguas/maria_chuchena.webp");
}
.Gallery-article--perroSanRoque{
  background-image: url("../assets/images/trabalenguas/perro_san_roque.webp");
}
.Gallery-article--cieloEnladrillado{
  background-image: url("../assets/images/trabalenguas/cielo_enladrillado.webp");
}
.Gallery-article--parraPerro{
  background-image: url("../assets/images/trabalenguas/parra_perro.webp");
}
.Gallery-article--comoCoco{
  background-image: url("../assets/images/trabalenguas/como_coco.webp");
}
.Gallery-article--tristresTigres{
  background-image: url("../assets/images/trabalenguas/tigres_trigo.webp");
}
.Gallery-article--pancho{
  background-image: url("../assets/images/trabalenguas/pancho.webp");
}

/* Footer */
footer{
  background-color: rgb(21, 21, 21);

  padding: 1.25rem;

  justify-content: center;
  align-items: center;
  gap: .625rem;
}
.footer-nav{
  justify-content: center;
  align-items: center;
}
.footer-ul{
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer-li{
  width: 2.5rem;
  height: 2.5rem;
}
.footer-span{
  color: var(--color-textos);
}



/* @medias */
@media(max-width:1000px){
    .Nav-ul{
        display: none;
    }
    .Nav-button{
        display: flex;
    }
    .main-article{
      width: 80%;
    }
    .main-gallery{
      grid-template-columns: repeat(2, 1fr);
    }
    .Gallery-article:active .Gallery-h3{
      display: none;
    }
    .Gallery-article:active .Gallery-info{
      display: flex;
    }
}
@media(max-width:600px){
    .main-gallery{
      grid-template-columns: repeat(1, 1fr);
    }
}

/* JS classes */
.isOpen{
  width: 20%;
  background-color: var(--color-textos);

  padding: .625rem;

  display: grid;
  grid-template-columns: repeat(1, 1fr);

  text-align: center;
  color: black;

  position: absolute;
  top: 6.25rem;
  right: .3125rem;
  z-index: 1;
}
.Nav-ul.isOpen .Nav-li{
  color: black;
}
.Nav-ul.isOpen .Nav-li:hover{
  color: var(--color-secundario);
}

.isHidden{
  display: none;
}
.isFlex{
  display: flex;
}